*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    
    box-sizing: border-box;

    background-color: pink;

    border-color: red;
    
    border: 100vw;
    
    

}


#box-1{


}



#box-2{

}


.text-spacing{


}
